.lableRow {
    display: grid;
    width: 20vw;
}

.lableRow > label{
    margin-top: 5px;
    margin-bottom: 3px;
    font-weight: 500;
}

.lableRow > input {
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.lableRow > input:hover{
    border: 1px solid #bdbdbda9;
}

.lableRow > input:focus{
    outline: none;
    box-shadow: 0 0 0 3px lightskyblue;
}

.form > .btn {
    display:inline;
    margin-top: 13px;
    float: right;
    margin-left: 15px;
}